ModGateApplication/Files/ModGate_newNodes.json
[{"id":"b66dcd15.9540a8","type":"modbus requester","__package":"luvitred/modbus","__version":"0.1.0","serialport":"/dev/ttySP0","mode":"rtu_serial","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","host":"127.0.0.1","port":"502","protolog":false,"interrequest":"100","reconnecttime":"20","rxtimeout":"2000","switchmode":"no"},{"id":"abea1f41.97ff68","type":"modbus responder","__package":"luvitred/modbus","__version":"0.1.0","mode":"tcp_tcp","port":"502","protolog":false,"maxconnections":"2","idletimeout":"10"},{"id":"853a3c9b.f9dd18","type":"modbus in","__package":"luvitred/modbus","__version":"0.1.0","name":"Modbus_IN","topic":"modtcp","modbusresponder":"abea1f41.97ff68","x":71,"y":34,"z":"64c69c2d.f8bb34","wires":[["b91b4423.7b9c28","74e79c57.30e9e4"]]},{"id":"b91b4423.7b9c28","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"IN","all":false,"active":false,"console":"false","complete":"true","x":229,"y":36,"z":"64c69c2d.f8bb34","wires":[]},{"id":"4394c358.5027d4","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"OUT","all":false,"active":false,"console":"false","complete":"false","x":965.5714721679724,"y":90.99998474121,"z":"64c69c2d.f8bb34","wires":[]},{"id":"af03fec5.edbce","type":"modbus out","__package":"luvitred/modbus","__version":"0.1.0","name":"Modbus_OUT","modbusresponder":"abea1f41.97ff68","x":984.0714263915725,"y":142.35714530945,"z":"64c69c2d.f8bb34","wires":[]},{"id":"d2ddd3bd.67439","type":"modbus fanin","__package":"luvitred/modbus","__version":"0.1.0","name":"Fanin","x":825.3570556640625,"y":114.75,"z":"64c69c2d.f8bb34","wires":[["af03fec5.edbce","4394c358.5027d4"]]},{"id":"f19ee7ba.47d7a","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S1_R1","func":"msg.modbus.unit = 1\nmsg.modbus.start = 0\nreturn msg","startnil":false,"outputs":1,"x":391.5,"y":135.75,"z":"64c69c2d.f8bb34","wires":[["ac528d8f.cc2b68"]]},{"id":"ac528d8f.cc2b68","type":"modbus request","__package":"luvitred/modbus","__version":"0.1.0","name":"Request","modbusrequester":"b66dcd15.9540a8","x":579.1167297363281,"y":180.36666870117188,"z":"64c69c2d.f8bb34","wires":[["d2ddd3bd.67439","e6d2950d.627f5"]]},{"id":"b25aca86.f6ec8","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S1_R2","func":"msg.modbus.unit = 1\nmsg.modbus.start = 1\nreturn msg","startnil":false,"outputs":1,"x":388.61666870117,"y":182.86666870117,"z":"64c69c2d.f8bb34","wires":[["ac528d8f.cc2b68"]]},{"id":"c02b39e6.b01e48","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S2_R1","func":"msg.modbus.unit = 2\nmsg.modbus.start = 0\nreturn msg","startnil":false,"outputs":1,"x":388.61666870117,"y":226.61666870117,"z":"64c69c2d.f8bb34","wires":[["ac528d8f.cc2b68"]]},{"id":"d2d9df2a.fa5928","type":"siglevel","__package":"luvitred/cloudgate-sys","__version":"0.1.0","name":"","x":97,"y":334,"z":"64c69c2d.f8bb34","wires":[["c3b40fa7.7b8b5"]]},{"id":"97cc4d8.913f9b","type":"modbus encode","__package":"luvitred/modbus","__version":"0.1.0","name":"32bit_IEEE_float_Be","encodeas":"float32","endian":"big","packed":false,"stringlength":"2","x":400.0000305175781,"y":396,"z":"64c69c2d.f8bb34","wires":[["d2ddd3bd.67439"]]},{"id":"74e79c57.30e9e4","type":"modbus fanout","__package":"luvitred/modbus","__version":"0.1.0","name":"ModGate","reqtimeout":"2000","fans":[{"op":"read","reg":"holding","unit":"1","start":"0","quantity":"1","output":2},{"op":"read","reg":"holding","unit":"1","start":"1","quantity":"1","output":3},{"op":"read","reg":"holding","unit":"1","start":"2","quantity":"1","output":4},{"op":"read","reg":"holding","unit":"1","start":"3","quantity":"1","output":5},{"op":"read","reg":"holding","unit":"1","start":"4","quantity":"1","output":6},{"op":"read","reg":"input","unit":"1","start":"5","quantity":"2","output":7},{"op":"read","reg":"input","unit":"1","start":"7","quantity":"2","output":8},{"op":"read","reg":"input","unit":"1","start":"9","quantity":"2","output":9}],"checkall":"true","outputs":9,"x":96,"y":154,"z":"64c69c2d.f8bb34","wires":[["d2ddd3bd.67439"],["f19ee7ba.47d7a"],["b25aca86.f6ec8"],["c02b39e6.b01e48"],["f7119ee2.2c5898"],["d2d9df2a.fa5928"],["e55dff5b.945378"],["2babf449.ec8164"],["42ee2a21.cf34e4"]]},{"id":"cb8e0c68.817848","type":"modbus encode","__package":"luvitred/modbus","__version":"0.1.0","name":"16bit_signed_int_Be","encodeas":"int16","endian":"big","packed":false,"stringlength":"2","x":403.0000305175781,"y":334,"z":"64c69c2d.f8bb34","wires":[["d2ddd3bd.67439"]]},{"id":"c3b40fa7.7b8b5","type":"change","__package":"luvitred/core-logic","__version":"0.1.0","action":"replace","property":"payload","from":"","to":"{msg.payload.rssi}","reg":false,"name":"rssi","x":233,"y":334,"z":"64c69c2d.f8bb34","wires":[["cb8e0c68.817848"]]},{"id":"71499af7.614714","type":"GPS","__package":"luvitred/cloudgate-io","__version":"0.1.0","name":"GPS","topic":"","reporttype":"reports","reportrate":5,"nofixsecs":"10","fixsecs":"10","reportdist":1,"movesecs":"15","movedist":"10","turnaccel":2,"turndegs":15,"turnspeed":30,"speedlimit":"","speedlimittime":"","x":87,"y":547,"z":"64c69c2d.f8bb34","wires":[["3022d3d4.497fdc"]]},{"id":"3022d3d4.497fdc","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"SettingGPSData","func":"if not msg then\n-- called on startup\n    global.lat = 0.0\n    global.lon = 0.0\n    global.alt = 0.0\nreturn\nend\nif msg.payload then\n    local vals = msg.payload\n    global.lat = vals.lat\n    global.lon = vals.lon\n    global.alt = vals.altitude\nend","startnil":true,"outputs":"0","x":258,"y":547,"z":"64c69c2d.f8bb34","wires":[]},{"id":"e55dff5b.945378","type":"global retrieve","__package":"luvitred/core-logic","__version":"0.1.0","retrievefrom":"ram","keyname":"lat","name":"Latitude","x":96,"y":387,"z":"64c69c2d.f8bb34","wires":[["97cc4d8.913f9b"]]},{"id":"2babf449.ec8164","type":"global retrieve","__package":"luvitred/core-logic","__version":"0.1.0","retrievefrom":"ram","keyname":"lon","name":"Longitude","x":99,"y":439,"z":"64c69c2d.f8bb34","wires":[["97cc4d8.913f9b"]]},{"id":"42ee2a21.cf34e4","type":"global retrieve","__package":"luvitred/core-logic","__version":"0.1.0","retrievefrom":"ram","keyname":"alt","name":"Altitude","x":92,"y":489,"z":"64c69c2d.f8bb34","wires":[["97cc4d8.913f9b"]]},{"id":"f7119ee2.2c5898","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S3_R1","func":"msg.modbus.unit = 3\nmsg.modbus.start = 0\nreturn msg","startnil":false,"outputs":1,"x":387,"y":279,"z":"64c69c2d.f8bb34","wires":[["ac528d8f.cc2b68"]]},{"id":"e6d2950d.627f5","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":true,"console":"false","complete":"false","x":812,"y":228,"z":"64c69c2d.f8bb34","wires":[]}]