ModGateApplication/Files/ModGate.json
[{"type":"tab","children":[],"label":"Sheet 1","id":"4fe49088.eec628"},{"id":"b66dcd15.9540a8","type":"modbus requester","__package":"luvitred/modbus","__version":"0.1.0","serialport":"/dev/ttySP0","mode":"rtu_serial","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","host":"127.0.0.1","port":"502","protolog":false,"interrequest":"100","reconnecttime":"20","rxtimeout":"1000","switchmode":"no"},{"id":"abea1f41.97ff68","type":"modbus responder","__package":"luvitred/modbus","__version":"0.1.0","mode":"tcp_tcp","port":"502","protolog":false,"maxconnections":"1","idletimeout":"10"},{"id":"43b75843.1825f","type":"modbus in","__package":"luvitred/modbus","__version":"0.1.0","name":"Modbus_IN","topic":"modtcp","modbusresponder":"abea1f41.97ff68","x":70,"y":151,"z":"4fe49088.eec628","wires":[["2376859f.93210a","58325905.f79ba8"]]},{"id":"2376859f.93210a","type":"modbus fanout","__package":"luvitred/modbus","__version":"0.1.0","name":"ModGate","reqtimeout":"2000","fans":[{"op":"read","reg":"holding","unit":"1","start":"0","quantity":"1"},{"op":"read","reg":"holding","unit":"1","start":"1","quantity":"1"},{"op":"read","reg":"holding","unit":"1","start":"2","quantity":"1"},{"op":"read","reg":"holding","unit":"1","start":"3","quantity":"1"},{"op":"read","reg":"input","unit":"1","start":"4","quantity":"2"},{"op":"read","reg":"input","unit":"1","start":"6","quantity":"2"},{"op":"read","reg":"input","unit":"1","start":"8","quantity":"2"}],"checkall":"true","outputs":8,"x":86.499969482422,"y":269.75,"z":"4fe49088.eec628","wires":[["62850acb.cdc894"],["d4b1f0e9.a9bc88"],["9a9652f5.dd2f7"],["8ad1d3cb.7fb9d8"],["6ec8416b.17a52"],["c60d7089.5bda6"],["73a68b65.a7ec4c"],["527a27d1.b1dae"]]},{"id":"58325905.f79ba8","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"IN","all":false,"active":false,"console":"false","complete":"true","x":228,"y":153,"z":"4fe49088.eec628","wires":[]},{"id":"d7427a6.dc60288","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"OUT","all":false,"active":true,"console":"false","complete":"false","x":682.57147216797,"y":206.99998474121,"z":"4fe49088.eec628","wires":[]},{"id":"6d87fd3d.62cc24","type":"modbus out","__package":"luvitred/modbus","__version":"0.1.0","name":"Modbus_OUT","modbusresponder":"abea1f41.97ff68","x":701.07142639157,"y":258.35714530945,"z":"4fe49088.eec628","wires":[]},{"id":"62850acb.cdc894","type":"modbus fanin","__package":"luvitred/modbus","__version":"0.1.0","name":"Fanin","x":549.35705566406,"y":231.75,"z":"4fe49088.eec628","wires":[["6d87fd3d.62cc24","d7427a6.dc60288"]]},{"id":"b7f0732c.eb7b","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":true,"console":"false","complete":"false","x":673.49993896484,"y":334.75,"z":"4fe49088.eec628","wires":[]},{"id":"d4b1f0e9.a9bc88","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S1_R1","func":"msg.modbus.unit = 1\nmsg.modbus.start = 0\nreturn msg","startnil":false,"outputs":1,"x":284.49996948242,"y":260.75,"z":"4fe49088.eec628","wires":[["e195129e.6afe68","d624efd.98f981"]]},{"id":"e195129e.6afe68","type":"modbus request","__package":"luvitred/modbus","__version":"0.1.0","name":"Request","modbusrequester":"b66dcd15.9540a8","x":521.11669921875,"y":335.36666870117,"z":"4fe49088.eec628","wires":[["62850acb.cdc894","b7f0732c.eb7b"]]},{"id":"9a9652f5.dd2f7","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S1_R2","func":"msg.modbus.unit = 1\nmsg.modbus.start = 1\nreturn msg","startnil":false,"outputs":1,"x":281.61663818359,"y":307.86666870117,"z":"4fe49088.eec628","wires":[["e195129e.6afe68","780251ab.e1af08"]]},{"id":"8ad1d3cb.7fb9d8","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S2_R1","func":"msg.modbus.unit = 2\nmsg.modbus.start = 0\nreturn msg","startnil":false,"outputs":1,"x":281.61663818359,"y":351.61666870117,"z":"4fe49088.eec628","wires":[["e195129e.6afe68","e05d3595.30eb9"]]},{"id":"d624efd.98f981","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":false,"console":"false","complete":"false","x":518,"y":395,"z":"4fe49088.eec628","wires":[]},{"id":"780251ab.e1af08","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":false,"console":"false","complete":"false","x":517,"y":442,"z":"4fe49088.eec628","wires":[]},{"id":"e05d3595.30eb9","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":false,"console":"false","complete":"false","x":521,"y":484,"z":"4fe49088.eec628","wires":[]},{"id":"6ec8416b.17a52","type":"siglevel","__package":"luvitred/cloudgate-sys","__version":"0.1.0","name":"","x":124,"y":420,"z":"4fe49088.eec628","wires":[["768d7c13.fc6704"]]},{"id":"450711d1.1c71d","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":false,"console":"false","complete":"false","x":524,"y":535,"z":"4fe49088.eec628","wires":[]},{"id":"768d7c13.fc6704","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Calculating","func":"local max = 65535\nlocal rssi = msg.payload.rssi\n\nif rssi < 0 then\n    neg = true\nelse\n    neg = false\nend\nrssi = math.abs(msg.payload.rssi)\n\nif neg then\n    rssi = rssi -1\n    rssi = max - rssi\nend\n\nmsg.payload=rssi\nreturn msg","startnil":false,"outputs":1,"x":282,"y":419,"z":"4fe49088.eec628","wires":[["62850acb.cdc894","450711d1.1c71d"]]},{"id":"c60d7089.5bda6","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Lat","func":"msg.payload = -23.503723\nreturn msg","startnil":false,"outputs":1,"x":132,"y":492,"z":"4fe49088.eec628","wires":[["eb873cdc.fb7278"]]},{"id":"73a68b65.a7ec4c","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Long","func":"msg.payload = -47.415619\nreturn msg","startnil":false,"outputs":1,"x":132,"y":545,"z":"4fe49088.eec628","wires":[["eb873cdc.fb7278"]]},{"id":"7cfbd0df.e82478","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":false,"console":"false","complete":"false","x":521,"y":627,"z":"4fe49088.eec628","wires":[]},{"id":"eb873cdc.fb7278","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Procedure","func":"if not msg then\n-- called on startup\nreturn\nend\n\nfunction PackIEEE754(number)\n    if number == 0 then\n        return string.char(0x00, 0x00, 0x00, 0x00)\n    elseif number ~= number then\n        return string.char(0xFF, 0xFF, 0xFF, 0xFF)\n    else\n        local sign = 0x00\n        if number < 0 then\n            sign = 0x80\n            number = -number\n        end\n        local mantissa, exponent = math.frexp(number)\n        exponent = exponent + 0x7F\n        if exponent <= 0 then\n            mantissa = math.ldexp(mantissa, exponent - 1)\n            exponent = 0\n        elseif exponent > 0 then\n            if exponent >= 0xFF then\n                return string.char(sign + 0x7F, 0x80, 0x00, 0x00)\n            elseif exponent == 1 then\n                exponent = 0\n            else\n                mantissa = mantissa * 2 - 1\n                exponent = exponent - 1\n            end\n        end\n        mantissa = math.floor(math.ldexp(mantissa, 23) + 0.5)\n        return string.char(\n                sign + math.floor(exponent / 2),\n                (exponent % 2) * 0x80 + math.floor(mantissa / 0x10000),\n                math.floor(mantissa / 0x100) % 0x100,\n                mantissa % 0x100)\n    end\nend\n\nfunction toBits(num,bits)\n    -- returns a table of bits, most significant first.\n    bits = bits or select(2,math.frexp(num))\n    local t={} -- will contain the bits        \n    for b=bits,1,-1 do\n        t[b]=math.fmod(num,2)\n        num=(num-t[b])/2\n    end\n    return t\nend\n\nlocal num = PackIEEE754(msg.payload)\n\nnum1 = tonumber(table.concat(toBits(tonumber(string.byte(num,1)),8))..table.concat(toBits(tonumber(string.byte(num,2)),8)),2)\n    \nnum2 = tonumber(table.concat(toBits(tonumber(string.byte(num,3)),8))..table.concat(toBits(tonumber(string.byte(num,4)),8)),2)\n    \nmsg.payload = {num2,num1}\nreturn msg","startnil":true,"outputs":1,"x":289,"y":543,"z":"4fe49088.eec628","wires":[["b5c67b2d.261ee","62850acb.cdc894","7cfbd0df.e82478","ee2b200b.22fef8"]]},{"id":"b5c67b2d.261ee","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":true,"console":"false","complete":"false","x":521,"y":585,"z":"4fe49088.eec628","wires":[]},{"id":"ee2b200b.22fef8","type":"debug","__package":"luvitred/core-core","__version":"0.1.0","name":"","all":false,"active":true,"console":"false","complete":"false","x":515,"y":677,"z":"4fe49088.eec628","wires":[]},{"id":"527a27d1.b1dae","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Altitude","func":"msg.payload = 613.700012\nreturn msg","startnil":false,"outputs":1,"x":128,"y":603,"z":"4fe49088.eec628","wires":[["eb873cdc.fb7278"]]}]