ModGateApplication/Files/ModGate_FinalConfiguration.json
[{"id":"e0cef0a8.6140d8","type":"modbus requester","__package":"luvitred/modbus","__version":"0.1.0","serialport":"","mode":"tcp_tcp","serialbaud":"19200","databits":"8","parity":"none","stopbits":"1","host":"192.168.10.14","port":"502","protolog":false,"interrequest":"100","reconnecttime":"20","rxtimeout":"1000","switchmode":"no"},{"id":"4be6b4f6.7e9f1c","type":"modbus requester","__package":"luvitred/modbus","__version":"0.1.0","serialport":"/dev/ttySP0","mode":"rtu_serial","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","host":"127.0.0.1","port":"502","protolog":false,"interrequest":"100","reconnecttime":"20","rxtimeout":"1000","switchmode":"no"},{"id":"c198d13b.7cf1c","type":"modbus responder","__package":"luvitred/modbus","__version":"0.1.0","mode":"tcp_tcp","port":"502","protolog":false,"maxconnections":"1","idletimeout":"10"},{"id":"b5c89596.19847","type":"modbus in","__package":"luvitred/modbus","__version":"0.1.0","name":"Modbus_IN","topic":"modtcp","modbusresponder":"c198d13b.7cf1c","x":82,"y":33,"z":"9594df04.5fd068","wires":[["3a5617ee.ff4b1"]]},{"id":"989247d8.5c7a88","type":"modbus out","__package":"luvitred/modbus","__version":"0.1.0","name":"Modbus_OUT","modbusresponder":"c198d13b.7cf1c","x":1078,"y":205,"z":"9594df04.5fd068","wires":[]},{"id":"3a5617ee.ff4b1","type":"modbus fanout","__package":"luvitred/modbus","__version":"0.1.0","name":"ModGate_IN","reqtimeout":"2000","fans":[{"op":"read","reg":"holding","unit":"1","start":"0","quantity":"1","output":2},{"op":"read","reg":"holding","unit":"1","start":"1","quantity":"1","output":3},{"op":"read","reg":"holding","unit":"1","start":"2","quantity":"1","output":4},{"op":"read","reg":"holding","unit":"1","start":"3","quantity":"1","output":5},{"op":"read","reg":"holding","unit":"1","start":"4","quantity":"1","output":6},{"op":"read","reg":"holding","unit":"1","start":"5","quantity":"2","output":7},{"op":"read","reg":"holding","unit":"1","start":"7","quantity":"2","output":8},{"op":"read","reg":"holding","unit":"1","start":"9","quantity":"2","output":9}],"checkall":"true","outputs":9,"x":244,"y":174,"z":"9594df04.5fd068","wires":[["7fc11bd3.3bd8cc"],["eccc9421.8b7af8"],["f4e86522.141bd8"],["24c9f3c1.2c4524"],["31c89614.68f6c2"],["4ea1a3ca.fe75ac"],["dfe9dc71.8687d"],["b94d907d.9760c"],["89b197a2.82df2"]]},{"id":"7fc11bd3.3bd8cc","type":"modbus fanin","__package":"luvitred/modbus","__version":"0.1.0","name":"ModGate_OUT","x":863,"y":121,"z":"9594df04.5fd068","wires":[["989247d8.5c7a88"]]},{"id":"eccc9421.8b7af8","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S1_R1","func":"msg.modbus.unit = 1\nmsg.modbus.start = 0\nreturn msg","startnil":false,"outputs":1,"x":494,"y":147,"z":"9594df04.5fd068","wires":[["beae79ca.0b1368"]]},{"id":"f4e86522.141bd8","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S1_R2","func":"msg.modbus.unit = 1\nmsg.modbus.start = 1\nreturn msg","startnil":false,"outputs":1,"x":492.11669921875,"y":193.11669921875,"z":"9594df04.5fd068","wires":[["d57b630b.2a67a"]]},{"id":"24c9f3c1.2c4524","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S2_R1","func":"msg.modbus.unit = 2\nmsg.modbus.start = 0\nreturn msg","startnil":false,"outputs":1,"x":492.11669921875,"y":236.86669921875,"z":"9594df04.5fd068","wires":[["5cc79ff3.ca7cd"]]},{"id":"beae79ca.0b1368","type":"modbus request","__package":"luvitred/modbus","__version":"0.1.0","name":"Requester_1","modbusrequester":"4be6b4f6.7e9f1c","x":661,"y":147,"z":"9594df04.5fd068","wires":[["7fc11bd3.3bd8cc"]]},{"id":"d57b630b.2a67a","type":"modbus request","__package":"luvitred/modbus","__version":"0.1.0","name":"Requester_2","modbusrequester":"4be6b4f6.7e9f1c","x":660,"y":192,"z":"9594df04.5fd068","wires":[["7fc11bd3.3bd8cc"]]},{"id":"5cc79ff3.ca7cd","type":"modbus request","__package":"luvitred/modbus","__version":"0.1.0","name":"Requester_3","modbusrequester":"4be6b4f6.7e9f1c","x":661,"y":235,"z":"9594df04.5fd068","wires":[["7fc11bd3.3bd8cc"]]},{"id":"31c89614.68f6c2","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"Adapt_S3_R1","func":"msg.modbus.unit = 3\nmsg.modbus.start = 0\nreturn msg","startnil":false,"outputs":1,"x":491,"y":284,"z":"9594df04.5fd068","wires":[["a785dcdf.b1fcb"]]},{"id":"a785dcdf.b1fcb","type":"modbus request","__package":"luvitred/modbus","__version":"0.1.0","name":"Requester_4","modbusrequester":"e0cef0a8.6140d8","x":660,"y":285,"z":"9594df04.5fd068","wires":[["7fc11bd3.3bd8cc"]]},{"id":"4ea1a3ca.fe75ac","type":"siglevel","__package":"luvitred/cloudgate-sys","__version":"0.1.0","name":"Signal","x":399,"y":340,"z":"9594df04.5fd068","wires":[["b5c3c32e.847ab"]]},{"id":"29c927be.b793f","type":"modbus encode","__package":"luvitred/modbus","__version":"0.1.0","name":"16bit_signed_int_Be","encodeas":"int16","endian":"big","packed":false,"stringlength":"2","x":705.0000305175781,"y":340,"z":"9594df04.5fd068","wires":[["7fc11bd3.3bd8cc"]]},{"id":"b5c3c32e.847ab","type":"change","__package":"luvitred/core-logic","__version":"0.1.0","action":"replace","property":"payload","from":"","to":"{msg.payload.rssi}","reg":false,"name":"rssi","x":535,"y":340,"z":"9594df04.5fd068","wires":[["29c927be.b793f"]]},{"id":"6dfa3155.75409","type":"modbus encode","__package":"luvitred/modbus","__version":"0.1.0","name":"32bit_IEEE_float_Be","encodeas":"float32","endian":"big","packed":false,"stringlength":"2","x":705.0000610351562,"y":400.0000305175781,"z":"9594df04.5fd068","wires":[["7fc11bd3.3bd8cc"]]},{"id":"69c6bc17.c67bc4","type":"GPS","__package":"luvitred/cloudgate-io","__version":"0.1.0","name":"GPS","topic":"","reporttype":"reports","reportrate":5,"nofixsecs":"10","fixsecs":"10","reportdist":1,"movesecs":"15","movedist":"10","turnaccel":2,"turndegs":15,"turnspeed":30,"speedlimit":"","speedlimittime":"","x":207.00003051757812,"y":561,"z":"9594df04.5fd068","wires":[["c94e09e9.3a3e68"]]},{"id":"c94e09e9.3a3e68","type":"function","__package":"luvitred/core-core","__version":"0.1.0","name":"SettingGPSData","func":"if not msg then\n-- called on startup\n    global.lat = 0.0\n    global.lon = 0.0\n    global.alt = 0.0\nreturn\nend\nif msg.payload then\n    local vals = msg.payload\n    global.lat = vals.lat\n    global.lon = vals.lon\n    global.alt = vals.altitude\nend","startnil":true,"outputs":"0","x":366.0000305175781,"y":561,"z":"9594df04.5fd068","wires":[]},{"id":"dfe9dc71.8687d","type":"global retrieve","__package":"luvitred/core-logic","__version":"0.1.0","retrievefrom":"ram","keyname":"lat","name":"Latitude","x":401.0000305175781,"y":391.0000305175781,"z":"9594df04.5fd068","wires":[["6dfa3155.75409"]]},{"id":"b94d907d.9760c","type":"global retrieve","__package":"luvitred/core-logic","__version":"0.1.0","retrievefrom":"ram","keyname":"lon","name":"Longitude","x":404.0000305175781,"y":443.0000305175781,"z":"9594df04.5fd068","wires":[["6dfa3155.75409"]]},{"id":"89b197a2.82df2","type":"global retrieve","__package":"luvitred/core-logic","__version":"0.1.0","retrievefrom":"ram","keyname":"alt","name":"Altitude","x":397.0000305175781,"y":493.0000305175781,"z":"9594df04.5fd068","wires":[["6dfa3155.75409"]]}]